@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.tool-scroll {
  overflow-x: scroll;
}

.tool-scroll::-webkit-scrollbar {
  height: 5px;
}

.tool-scroll::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 5px;
}

.nav-scroll::-webkit-scrollbar {
  height: 5px;
}

.nav-scroll::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 5px;
}

.content {
  height: calc(100vh - 7rem);
}

.grid {
  height: calc(100% - 4rem);
  overflow: scroll;
}

.grid::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.grid::-webkit-scrollbar-track {
  background: rgb(240, 240, 240);
}

.grid::-webkit-scrollbar-thumb {
  background-color: #C0C0C0;
  border-radius: 12px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}